body {
    font-family: "Outfit", sans-serif;
    background-color: #fff;
    color: #434455;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #0c0c0c;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

button {
    cursor: pointer;
}

.container {
    min-width: 320px;
    max-width: 375px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}
/* _____________________________header_______________________________________ */

.header {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header-btn {
    border: none;
    background-color: transparent;
    padding: 20px 0;
 
}

.header-nav {}

.logo {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #0c0c0c; 
    padding: 25px 0;     
}

.header-soc-list,
.header-nav-list {
    display: none;
}

.header-nav-item {}

.header-soc-list {}

.header-soc-item {}

.header-soc-link {}

.header-soc-svg {}

.header-menu-burger {
    
}

@media screen and (min-width: 768px) {
   
    .logo {
        padding: 34px 0;
    }
    .header-flex {
        padding: 0 32px;
    }
}

@media screen and (min-width: 1280px) {

    .logo {
        margin-right: 203px;
    }

    .header-nav {
        display: flex;

    }

     .header-btn {
        display: none;
    }

    .header-nav-list {
        display: flex;
        gap: 40px;
    }

    .header-nav-link {
        padding-top: 30px;
        padding-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
            font-size: 14px;
            line-height: 1.28571;
            text-align: center;
            color: #0c0c0c;
            position: relative;
    }

    .header-nav-list .header-nav-link:hover:after {
        content: '';
        border-radius: 100%;
        height: 8px;
        width: 9px;
        position: absolute;
        background-color: #3350E9;
        transform: translateX(-50%);
        bottom: 30px;
        left: 50%;
    }

    .header-soc-list {
        display: flex;
        
        gap: 10px;

    }

    .header-soc-item {
       
       
    }

   

        .header-soc-link {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid rgba(12, 12, 12, 0.1);
            border-radius: 10px;
            padding: 8px;
            width: 36px;
            height: 36px;
            transition: border-color 0.3s ease;
        }
    
        .header-soc-link:hover {
            border-color: rgba(51, 80, 233, 0.1);
        }
    
        .header-soc-link .header-soc-svg use {
            fill: #0c0c0c;
                transition: fill 0.3s ease;
        }
    
      

    .header-soc-svg {
        fill: #0c0c0c;
        transition: fill 0.3s ease;
    }

    .header-soc-link:hover .header-soc-svg use {
            fill: #3350e9;
        }

   
}

/* _____________________________header_______________________________________ */
/* __________________________________________________________________________ */
/* __________________________________________________________________________ */
/* __________________________________________________________________________ */
/* __________________________________________________________________________ */
/* __________________________________________________________________________ */
/* __________________________________________________________________________ */
/* __________________________________________________________________________ */
/* __________________________________________________________________________ */
/* __________________________________________________________________________ */
/* __________________________________________________________________________ */
/* __________________________________________________________________________ */
/* __________________________________________________________________________ */
/* __________________________________________________________________________ */
/* __________________________________________________________________________ */
/* __________________________________________________________________________ */
/* __________________________________________________________________________ */
/* __________________________________________________________________________ */
/* __________________________________________________________________________ */
/* __________________________________________________________________________ */
/* __________________________________________________________________________ */
/* __________________________________________________________________________ */
/* __________________________________________________________________________ */
/* ____________________________footer________________________________________ */

.footer {
    color: #fff;
}

.footer-container {
    padding-bottom: 20px;
}

.footer-bg {
    background-color: #0c0c0c;
    padding: 40px 28px 28px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.footer-logo {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    margin-bottom: 20px;
    
}

.footer-soc-list {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.footer-soc-item {
    border: 1px solid rgba(251, 251, 251, 0.1);
        border-radius: 10px;
        padding: 8px;
        width: 34px;
        height: 34px;
}

.footer-soc-svg {
    fill: #fbfbfb91;
    transition: fill 250ms ease-in-out;
}

.footer-soc-svg:hover,
.footer-soc-svg:focus {
    fill: #fbfbfb;
}

.footer-address {}

.footer-address-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 16px;
    width: 152px;
    height: 44px;
    margin-bottom: 40px;
    transition: background-color 250ms ease-in-out;
}

.footer-address-btn:hover,
.footer-address-btn:focus {
    background-color: #fbfbfb;;
}

.footer-adress-tel {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #fbfbfb;
    transition: color 250ms ease-in-out;
}

.footer-address-btn:hover .footer-adress-tel,
.footer-address-btn:focus .footer-adress-tel {
    color: #0c0c0c;
}

.footer-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    max-width: 279px;
    margin-bottom: 92px;
}

.footer-nav-adress {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.footer-nav {
    width: 147px;
    height: 44px;
}

.footer-nav-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33333;
    color: #fbfbfb;
}

.footer-nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 16px;
}

.footer-nav-item {}

.footer-address-location {
    font-style: normal;
    font-weight: 500;
        font-size: 12px;
        line-height: 1.33333;
        color: #fbfbfb;
        width: 83px;
        height: 48px;
}

.footer-copyright {
    font-weight: 500;
        font-size: 10px;
        line-height: 1.4;
        letter-spacing: -0.02em;
        color: rgba(251, 251, 251, 0.5);
        border-top: 1px solid rgba(251, 251, 251, 0.1);
        padding-top: 20px;
}

.footer-legal-list {
    display: flex;
    gap: 20px;
}

.footer-legal-item {}

.footer-legal-link {
    font-weight: 500;
        font-size: 10px;
        line-height: 1.4;
        letter-spacing: -0.02em;
        text-align: right;
        color: rgba(251, 251, 251, 0.5);
}
/* ____________________________footer________________________________________ */