body {
    font-family: "Outfit", sans-serif;
    background-color: #fff;
    color: #434455;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #0c0c0c;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

button {
    cursor: pointer;
}

.container {
    min-width: 320px;
    max-width: 375px;
    padding: 0 20px;
    margin: 0 auto;
}

.txt-style {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.28571;
        letter-spacing: -0.02em;
        color: rgba(12, 12, 12, 0.7);
}

.title-two-style {
    font-weight: 600;
        font-size: 32px;
        line-height: 1;
        letter-spacing: -0.02em;
        color: #0c0c0c;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }

    .title-two-style {
        font-size: 48px;
    }
    .txt-style {
        font-size: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding: 0 65px;
    }
}
/* _____________________________header_______________________________________ */

.header {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    top: 0;
    background-color: #fff;
    width: 100%;
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header-btn {
    border: none;
    background-color: transparent;
    padding: 20px 0;
 
}

.header-nav {}

.logo {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #0c0c0c; 
    padding: 25px 0;     
}

.header-soc-list,
.header-nav-list {
    display: none;
}

.header-nav-item {}

.header-soc-list {}

.header-soc-item {}

.header-soc-link {}

.header-soc-svg {}

.header-menu-burger {
    
}

@media screen and (min-width: 768px) {
   
    .logo {
        padding: 34px 0;
    }
    .header-flex {
        padding: 0 32px;
    }
}

@media screen and (min-width: 1280px) {

    .logo {
        margin-right: 203px;
    }

    .header-nav {
        display: flex;

    }

     .header-btn {
        display: none;
    }

    .header-nav-list {
        display: flex;
        gap: 40px;
    }

    .header-nav-link {
        padding-top: 30px;
        padding-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
            font-size: 14px;
            line-height: 1.28571;
            text-align: center;
            color: #0c0c0c;
            position: relative;
    }


    .header-nav-list .header-nav-link:active {
        content: '';
        border-radius: 100%;
        height: 8px;
        width: 9px;
        position: absolute;
        background-color: #3350E9;
        transform: translateX(-50%);
        bottom: 30px;
        left: 50%;
    }

    .header-nav-list .header-nav-link:hover:after {
        content: '';
        border-radius: 100%;
        height: 8px;
        width: 9px;
        position: absolute;
        background-color: #3350E9;
        transform: translateX(-50%);
        bottom: 30px;
        left: 50%;
    }

    .header-soc-list {
        display: flex;
        
        gap: 10px;

    }

        .header-soc-link {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid rgba(12, 12, 12, 0.1);
            border-radius: 10px;
            padding: 8px;
            width: 36px;
            height: 36px;
            transition: border-color 0.3s ease;
        }
    
        .header-soc-link:hover {
            border-color: rgba(51, 80, 233, 0.1);
        }
    
        .header-soc-link .header-soc-svg use {
            fill: #0c0c0c;
                transition: fill 0.3s ease;
        }
    
      

    .header-soc-svg {
        fill: #0c0c0c;
        transition: fill 0.3s ease;
    }

    .header-soc-link:hover .header-soc-svg use {
            fill: #3350e9;
        }

   
}

/* _____________________________header_______________________________________ */
/* _____________________________hero_________________________________________ */
.hero {
    padding-top: 60px;
    padding-bottom: 30px;
}

.hero-title-txt {
    margin-bottom: 28px;
}

.hero-title {
    font-weight: 600;
        font-size: 40px;
        line-height: 0.95;
        letter-spacing: -0.02em;
        color: #0c0c0c;
        margin-bottom: 20px;
}

.hero-txt {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
}

.hero-list-btn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}

.hero-title-span {
    color: #3350E9;
}

.hero-list {
    display: flex;
    align-items: center;
}

.hero-list-item {
    position: relative;
    margin-left: -15px;
}

.hero-list-item:first-child {
    margin-left: 0;
}

.hero-list-item:hover {
    z-index: 10;
}

.hero-item-img {
   width: 44px;
   height: 44px;
}

.hero-btn {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    text-decoration: underline;
    color: #0c0c0c;
    align-items: end;
}

@media screen and (min-width: 768px) {
    .hero {
        padding-top: 80px;
        padding-bottom: 40px;
    }
    .hero-div-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .hero-list-btn {
        flex-direction: column;
        margin: 0;
        align-items: flex-end;
    }
    .hero-txt {
        width: 480px;
    }
    .hero-item-img {
        width: 56px;
        height: 56px;
    }
    
    .hero-txt {
        font-size: 16px;
    }

    .hero-title {
        font-size: 70px;
    }

    .hero-title-txt {
        margin: 0;
    }

    .hero-btn {
        font-size: 20px;
    }

   
}
 @media screen and (min-width: 1280px) {
        .hero {
          padding-bottom: 50px;  
        }
        .hero-title {
            font-size: 72px;
        }
        .hero-item-img {
            width: 60px;
            height: 60px;
        }

    }

/* _____________________________hero_________________________________________ */
/* _____________________________about-us_____________________________________ */
.about-us {
    padding: 30px 0;
}

.about-items {
    background-color: #f3f3f3;
    border-radius: 30px;
    padding: 40px 20px;
    margin-bottom: 20px;
}

.about-title {
    margin-bottom: 28px;
}


.about-txt-one {
    margin-bottom: 20px;
}

.about-txt-two {
    margin-bottom: 40px;
}

.about-btn {
    padding: 15px 37px;
    border: none;
    background-color: #3350E9;
    border-radius: 16px;
    color: #fbfbfb;
}

@media screen and (min-width: 768px) {
    .about-us {
        padding: 40px 0;
    }
    .about-items {
        padding: 80px 60px;
        margin-bottom: 40px;
    }
    .about-title {
        margin-bottom: 40px;
    }
    .about-txt-two {
        margin-bottom: 60px;
    }
}

@media screen and (min-width: 1280px) {
    .about-us {
        padding: 50px 0;
    }

    .about-flex {
        display: flex;
        gap: 40px;

    }
    
    .about-txt-two {
        margin-bottom: 40px;
    }

    .about-items {
        margin: 0;
         max-width: 580px;
        max-height: 532px; 
    }
}
/* _____________________________about-us_____________________________________ */
/* _____________________________catalog______________________________________ */
.catalog {
    padding: 30px 0;
}

.catalog-title {
    font-size: 32px;
}

.title-two-style {
    margin-bottom: 24px;
}

.catalog-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.catalog-list-item {
    padding: 24px 28px;
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 30px;
    background: #f3f3f3;

}

.catalog-item-picture {
    display: flex;
    justify-content: center;
}

.catalog-item-img {
    margin-bottom: 28px;
    width: 208px;
    height: 226px;
}

.catalog-item-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 8px;
}

.catalog-item-txt {
    font-weight: 400;
        font-size: 14px;
        line-height: 1.28571;
        letter-spacing: -0.02em;
        color: rgba(12, 12, 12, 0.5);
}

.mob-off {
    display: none;
}

@media screen and (min-width: 768px) {
        .catalog {
            padding: 40px 0;
        }    
        .catalog-title {
            font-size: 48px;
        }

        .catalog-list {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 32px 16px;
        }
    
        .catalog-list-item {
            width: 344px;
            height: 414px;
            padding: 24px 32px;
        }
    
        .catalog-item-img {
            margin-bottom: 20px;
            width: 268px;
            height: 292px;
        }
    
        .catalog-item-title {
            font-size: 20px;
        }
    
        .mob-off {
            display: block;
        }
}

@media screen and (min-width: 1280px) {
        .catalog {
            padding: 50px 0;
        }
    
    
        .catalog-list {
        column-gap: 23px;
        }
    
        .catalog-list-item {
            width: 368px;
            
        }
    
        .catalog-item-img {
            width: 292px;
        }
    }
/* _____________________________catalog______________________________________ */
/* _____________________________advertisement________________________________ */

.advertisement {
    padding: 30px 0;
}

.advertisement-bg {
    position: relative;
    background: #0c0c0c;
    padding: 60px 28px;
    border-radius: 30px;
    overflow: hidden;
    z-index: 1;
}
.advertisement-bg::before {
    content: "";
    position: absolute;
    background-image: url(/img/advertisement/mobile70-min.jpg);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
}

@media screen and (min-resolution: 2x) {
    .advertisement-bg::before {
        background-image: url(/img/advertisement/mobile70@2x-min.jpg);
    }
}

.advertisement-title {
    color: #fbfbfb;
}

.title-two-style {}

.advertisement-span {
    color: rgba(251, 251, 251, 0.5);
}

.advertisement-btn {}
@media screen and (min-width: 768px) {
    .advertisement {
        padding: 40px 0;
    }
    
        .advertisement-bg {}
    
        .advertisement-title {}
    
        .title-two-style {}
    
        .advertisement-span {}
    
        .advertisement-btn {}
}

@media screen and (min-width: 1280px) {
    .advertisement {
        padding: 50px 0;
    }
    
        .advertisement-bg {}
    
        .advertisement-title {}
    
        .title-two-style {}
    
        .advertisement-span {}
    
        .advertisement-btn {}
}
/* ___________________________advertisement__________________________________ */
/* __________________________________________________________________________ */
@media screen and (min-width: 768px) {}

@media screen and (min-width: 1280px) {}
/* __________________________________________________________________________ */
/* __________________________________________________________________________ */
@media screen and (min-width: 768px) {}

@media screen and (min-width: 1280px) {}
/* __________________________________________________________________________ */
/* __________________________________________________________________________ */
/* __________________________________________________________________________ */
/* __________________________________________________________________________ */
/* __________________________________________________________________________ */
/* __________________________________________________________________________ */
/* __________________________________________________________________________ */
/* __________________________________________________________________________ */
/* __________________________________________________________________________ */
/* __________________________________________________________________________ */
/* __________________________________________________________________________ */
/* ____________________________footer________________________________________ */

.footer {
    color: #fff;
}

.footer-container {
    padding-bottom: 20px;
}

.footer-bg {
    background-color: #0c0c0c;
    padding: 40px 28px 28px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.footer-logo {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fbfbfb;
}

.footer-soc-list {
    display: flex;
    gap: 10px;
}

.footer-soc-item {
    border: 1px solid rgba(251, 251, 251, 0.1);
        border-radius: 10px;
        padding: 8px;
        width: 34px;
        height: 34px;
}

.footer-soc-svg {
    fill: #fbfbfb91;
    transition: fill 250ms ease-in-out;
}

.footer-soc-svg:hover,
.footer-soc-svg:focus {
    fill: #fbfbfb;
}

.footer-address {}

.footer-address-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 16px;
    width: 152px;
    height: 44px;
    transition: background-color 250ms ease-in-out;
}

.footer-address-btn:hover,
.footer-address-btn:focus {
    background-color: #fbfbfb;;
}

.footer-adress-tel {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #fbfbfb;
    transition: color 250ms ease-in-out;
}

.footer-address-btn:hover .footer-adress-tel,
.footer-address-btn:focus .footer-adress-tel {
    color: #0c0c0c;
}

.footer-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    max-width: 279px;
    margin-top: 40px;
    margin-bottom: 92px;
}

.footer-nav-adress {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.footer-nav {
    width: 147px;
    height: 44px;
}

.footer-nav-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33333;
    color: #fbfbfb;
}

.footer-nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 16px;
}

.footer-nav-item {}

.footer-address-location {
    font-style: normal;
    font-weight: 500;
        font-size: 12px;
        line-height: 1.33333;
        color: #fbfbfb;
        width: 83px;
        height: 48px;
}

.footer-copyright {
    font-weight: 500;
        font-size: 10px;
        line-height: 1.4;
        letter-spacing: -0.02em;
      
}

.footer-copyright-div {
      color: rgba(251, 251, 251, 0.5);
        border-top: 1px solid rgba(251, 251, 251, 0.114);
        padding-top: 20px;
}

.footer-legal-list {
    display: flex;
    gap: 20px;
}

.footer-legal-item {}

.footer-legal-link {
    font-weight: 500;
        font-size: 10px;
        line-height: 1.4;
        letter-spacing: -0.02em;
        text-align: right;
        color: rgba(251, 251, 251, 0.5);
}

.footer-logo-soc {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (min-width: 768px) {
    .footer-bg {
        padding: 40px 40px 28px;
    }
    .footer-title {
        max-width: 524px;
        height: 96px;
        margin: 0 auto;
        font-size: 28px;
        margin-bottom: 100px;
        margin-top: 86px;
    }

    .footer-nav-list {
        flex-wrap: nowrap;
        gap: 19px;
        font-weight: 500;
      
        text-align: center;
    }
    .footer-nav-link {
          font-size: 14px;
        line-height: 1.30;
    }
    .footer-nav {
    width: 624px;
    ;
    }
    
    .footer-address-location {
    width: 162px;
    font-size: 12px;   
    line-height: 1.3;
    }

    .footer-contact {
        flex-direction: row;
        justify-content: space-between;
    }
   
    .footer-copyright-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }




}
 @media screen and (min-width: 1280px) {
    .footer-bg {
        position: relative;
    }
    .footer-title {
        max-width: 510px;
        margin: 0;
    }

    .footer-title-div {
        position: absolute;
        left: 50%;
        top: 40px; 
        transform: translate(-50%, -0%);
    }

    .footer-soc-list {
        margin-bottom: 142px;
    }
 }

/* ____________________________footer________________________________________ */
